# MTK connectivity .rc configure

on post-fs-data


#
# Connectivity related device nodes & configuration (begin)
#

# WiFi
    mkdir /data/misc/wifi 0770 wifi wifi
    mkdir /data/misc/wifi/sockets 0770 wifi wifi
    mkdir /data/misc/wpa_supplicant 0770 wifi wifi

# BT relayer mode used VCOM
    chown bluetooth net_bt_stack /dev/ttyGS2
    chmod 0660 /dev/ttyGS2

#
# Connectivity related device nodes & configuration (end)
#


on init

#
# Connectivity related services (Begin)
#

on property:service.wcn.coredump.mode=2
start stp_dump

service stp_dump /vendor/bin/stp_dump3
    user root
    group root
    class core
    disabled
    oneshot

service MPED /vendor/bin/MPED
    class main
    user gps
    group gps inet misc sdcard_rw sdcard_r media_rw system
    socket MPED stream 660 gps system

#service BGW /vendor/bin/BGW
#    user system
#    group gps system radio
#    class main

#
# Connectivity related services (End)
#

